/* ubicacion */
.titul h2{
    color: rgb(47, 51, 50);
 }
 
 
 
 
  .ifUbi{
     width: 100% !important;   
     height: 600px;
  }
 
  .ifcontacto{
     width: 100% !important;   
     height: 600px;
  }
 
 
  footer{
     width: 100%;
     
     bottom: 0;
     left: 0;
     padding: 2rem 8%;
     background-color: #000;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 
  }